# Define o que o Git deve ignorar (dados, senhas, cache)

# --- Dados e Arquivos Grandes ---
data/raw/*
data/processed/*
data/final/*
outputs/figures/*
outputs/tables/*
!.gitkeep

# --- Histórico e Configurações do R/RStudio ---
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# --- Variáveis de Ambiente e Credenciais ---
.env
.Renviron
*.pem
*.key

# --- Caches do renv (Apenas o renv.lock deve ir para o Git) ---
renv/library/
renv/python/
renv/staging/